<!-- page content -->
<nav class="marketing-topbar show-for-medium">

    <ul class="menu">
      <li class="topbar-title"><img class="site-logo lazy" data-src="/img/generic/logo-en.svg" alt="Wheels logo"></li>
    </ul>



  </nav>
  <div class="title-bar hide-for-medium">
   <div class="title-bar-left">
     <button class="icon-burger" type="button" data-open="offCanvasLeft"></button>
   </div>
   <span class="title-bar-title"><img class="site-logo" src="/img/generic/logo-en.svg" alt="Wheels logo"></span>
   <div class="title-bar-right">
     <button class="icon-search" type="button" data-open="offCanvasRight"></button>
   </div>
 </div>
