<!doctype html>
<html class="no-js" lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <title>Example</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  </head>
  <body>


    {{{body}}}


 

</body>
</html>
