<!-- Default home page -->
{{> top-menu}}
<div class="row">
  <div class="large-12 columns top-stories">
    <div>Top Stories</div>

         <a href="#">
           <img alt=""  class="lazy" src="#"></img>
         </a>
         <a href="#" class="category">test</a>
         <a href="{{view.pathFromApp}}/test">
           <h4>test</h4>
           <p>lorem epsum</p>
           <span class="date">12/12/2016</span>
         </a>
       
    <div class="buttons-panel">
      <a href="#" class="load-more button">load more top stories</a>
    </div>
  </div>
</div>
